# Environment Variables - DO NOT COMMIT TO GITHUB
# Copy this file to .env and fill in your actual credentials

IVASMS_EMAIL=hihof82385@okcpress.com
IVASMS_PASSWORD=Iyan2601
TELEGRAM_BOT_TOKEN=8580660375:AAFjNhjDhKqZ1v7idorRw9krymhV7XoL2FY
TELEGRAM_GROUP_ID=-1003685530225
FLASK_ENV=production
